{% extends '../layout/default.html' %}

{% block head %}
{% parent %}
{% css %}
pw/css/admin/v2/stats.css
{% endcss %}
{% endblock %}

{% block content %}

<div class="widget widget-full wgreen">
    <!-- Widget title -->
    <div class="widget-head">
        <div class="pull-left" style="margin-top:5px">BeansTalkD job by day</div>
        <div class="pull-right">
            <form method='GET' id="upload_option_form" action="/stats/beanstalkd">
                <div align=right class="form-group">
                    <input id="upload_date" type="text" name="date" value="{{dateUploaded}}" data-date-format="yyyy-mm-dd" class="form-control user-search">
                    <select name="date" class="form-control user-search">
                        <option value="">All</option>
                        {% for date in list_date %}        
                        <option value="{{date}}">{{date}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content no-border">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Failed Job</th>
                    <th>Average Job</th>
                    <th>Failed (%)</th>
                </tr>
            </thead>
            {% for item in beantalkd_data %}
            <tr>
                <td>{{item['date']}}</td>
                <td>{{item['data']['total']}}</td>
                <td><a href='/stats/beanstalkd-failed/date/{{item['date']}}'>{{item['data']['failed']}} job(s)</a></td>
                <td>{{item['data']['aver_job']}} job(s)</td>
                <td>{{item['data']['aver_fail']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="widget-foot no-border">
        <div class="clearfix"></div> 
    </div>
</div>

{% endblock %}


