{% extends '../layout/default.html' %}
{% import '../layout/pagination.html' as pagination %}
{% import '../layout/commonMacros.html' as macros %}

{% block head %}
{% parent %}
{% css %}
pw/css/admin/v2/user.css
pw/css/admin/v2/popbox.css
{% endcss %}
{% js %}
pw/scripts/admin/v2/user.js
{% endjs %}
{% endblock %}

{% block content %}
<div class="widget widget-full wgreen">
    <!-- Widget title -->
    <div class="widget-head">
        <div class="pull-left" style="margin-top:5px">Users</b></div>
        <div class="pull-right">
            <form action='/user' method='GET'>
                <div align=right class="form-group">
                    <input type="hidden" name="is_search" value=1>
                    <input type="text" name="s_user" size=30 value="{{s_user}}" class="form-control user-search" placeholder="Type Username">
                    <select name="user_country" class="form-control user-search" id="user_country">
                        <option value="">User country</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AX">Aland Islands</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BQ">Bonaire, Saint Eustatius and...</option>
                        <option value="BA">Bosnia and Herzegovina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="VG">British Virgin Islands</option>
                        <option value="BN">Brunei</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CW">Curacao</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="CD">Democratic Republic of the...</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="TL">East Timor</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GG">Guernsey</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard Island and McDonald...</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IR">Iran</option>
                        <option value="IQ">Iraq</option>
                        <option value="IE">Ireland</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="CI">Ivory Coast</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JE">Jersey</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="XK">Kosovo</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Laos</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macao</option>
                        <option value="MK">Macedonia</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NL">Netherlands</option>
                        <option value="AN">Netherlands Antilles</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="KP">North Korea</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PS">Palestinian Territory</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="CG">Republic of the Congo</option>
                        <option value="RE">Reunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russia</option>
                        <option value="RW">Rwanda</option>
                        <option value="BL">Saint Barthélemy</option>
                        <option value="SH">Saint Helena</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="MF">Saint Martin</option>
                        <option value="PM">Saint Pierre and Miquelon</option>
                        <option value="VC">Saint Vincent and the...</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="CS">Serbia and Montenegro</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SX">Sint Maarten</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="GS">South Georgia and the South...</option>
                        <option value="KR">South Korea</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard and Jan Mayen</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syria</option>
                        <option value="TW">Taiwan</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania</option>
                        <option value="TH">Thailand</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks and Caicos Islands</option>
                        <option value="TV">Tuvalu</option>
                        <option value="VI">U.S. Virgin Islands</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="US">United States</option>
                        <option value="UM">United States Minor Outlying...</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VA">Vatican</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Vietnam</option>
                        <option value="WF">Wallis and Futuna</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                    <select name="admin1" class="form-control user-search" id="admin1">
                        <option value="">-State-</option>
                    </select>
                    <select name="user_status" class="form-control user-search">
                        <option value="">User status</option>
                        <option value="A">A</option>
                        <option value="V">V</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content no-border">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Index</th>
                    <th width="250">User</th>        
                    <th>User status</th>
                    <th>User country</th>
                    <th><a href="/user?{{user_created_url}}" class="sort-by-created" >User created {%if (sort==='created')%}<i class = 'tc-icon tc-icon-chevron-{{arrow}}'></i>{%endif%}</a></th>
                    <th><a href="/user?{{user_last_login_url}}" class="sort-by-lastlogin"  >User last login {%if (sort==='lastlogin')%}<i class = 'tc-icon tc-icon-chevron-{{arrow}}'></i>{%endif%} </a></th>
                    <th width="120"><a href="/user?{{number_of_logins}}" class="sort-by-numberlogin"  >Number login {%if (sort==='numberoflogin')%}<i class = 'tc-icon tc-icon-chevron-{{arrow}}'></i>{%endif%} </a></th>
                    <th><a href="/user?{{user_last_update_url}}" class="sort-by-lastupdate" >User last update {%if (sort==='lastupdate')%}<i class = 'tc-icon tc-icon-chevron-{{arrow}}'></i>{%endif%}</a></th>
                    <th width="70">Action</th>
                </tr>
            </thead>
            {% for item in data['data'] %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{macros.prepareUserView(item)}}</td>
                <td>{{item['user_status']}}</td>
                <td>{{item['user_country']}}</td>
                <td>{{item['user_created']}}</td>
                <td>{{item['user_last_login']}}</td>
                <td>{{item['number_logins']}}</td>
                <td>{{item['user_last_update']}}</td>
                <td>
                    <a title=' Edit user ' href="/user/edit-user/user/{{item['user']}}"><i class="tc-icon tc-icon-edit"></i></a>
                    <a href='#' title=' Delete ' class='delete-user' alt='{{item['user']}}'><i class="tc-icon tc-icon-trash"></i></a>
                    <a href="/user/embracer-manager/user/{{item['user']}}"  alt=" Embracer Manager" title="Embracer Manager "><i class="tc-icon tc-icon-book"></i></a>
                    <a href="/user/media-items/user/{{item['user']}}"  alt=" Media manager" title=" Media items manager "><i class="tc-icon tc-icon-cog"></i></a>
                    <a href="/user/give-media-credit/user/{{item['user']}}"  alt="Give Credit on Media, Using Tallcat User" title="Give Credit on Media, Using Tallcat User"><i class="tc-icon tc-icon-film"></i></a>
                    <a href="/user/give-blog-credit/user/{{item['user']}}"  alt="Give Credit on Blog, Using Tallcat User" title="Give Credit on Blog, Using Tallcat User"><i class="tc-icon tc-icon-list"></i></a>
                    <a href="#"  alt="Add user to Mass Mailer" title="Add user to Mass Mailer" class="ad-massmailer{{item['user']}}"><i class="tc-icon tc-icon-envelope"></i></a>
                    <a href='#' class='flag-user'  alt='{{item['user']}}' flag="{{item['tallcat_staff']}}" title=" Flag user as Tallcat Staff "><i class="tc-icon tc-icon-flag" style="opacity:{%if (item['tallcat_staff']==1)%}1{%else%}0.4{%endif%}"></i></a>
                    <a href="#"  class="suspend-user {%if (item['blocked']==1)%}lock{%else%}un-lock{%endif%}" alt='{{ item['user'] }}' title=" Suspend Account "><i class="tc-icon tc-icon-lock" ></i></a>
                    <a href="#"  class="collection-user {%if (item['collection_creators']==1)%}enable{%else%}disable{%endif%}" alt='{{ item['user'] }}' title=" Collection creators "><i class="tc-icon tc-icon-star" ></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="widget-foot no-border">
        {{pagination.paginationControl(data)}}
        <div class="clearfix"></div> 
    </div>
</div>

<!-- Element to pop up -->
<div id="element_to_pop_up" class="add-user">
    <a class="b-close">x</a>
    <input type="hidden" id="p_userid"/>
    <div class="alert alert-info"><h6>User <b><span id="p_username"></span></b></h6></div>
    <h6 style="margin-bottom: 0px">Select Mass Mailer list(s), then click to <button type='button' id="add_mm" class='btn btn-info'>Add</button></h6>
    <div id="d_avail_mm_list">
        <table id="avail_mm_list" class="table">
            <thead>
                <tr>
                    <th width="20px"><input type="checkbox" id="chk_notin_mm"></th>
                    <th>List Name</th>
                    <th width="165">Number of Members</th>        
                </tr>
            </thead>
        </table>
    </div>
    <h6 style="margin-bottom: 0px">Already in Mass Mailer list(s) below. Select Mass Mailer list(s) and click to <button type='button' id="remove_mm" class='btn btn-info'>Remove</button></h6>
    <div id="d_in_mm_list">
        <table id="in_mm_list" class="table">
            <thead>
                <tr>
                    <th width="20px"><input type="checkbox" id="chk_in_mm"></th>
                    <th>List Name</th>
                    <th width="165">Number of Members</th>        
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}