{% extends '../layout/default.html' %}
{% import '../layout/pagination.html' as pagination %}
{% import '../layout/commonMacros.html' as macros %}

{% block head %}
{% parent %}
{% css %}
pw/css/admin/v2/popbox.css
pw/css/admin/v2/staffpick.css
pw/css/admin/v2/collection.css
{% endcss %}
{% js %}
pw/scripts/admin/v2/trending-collection.js
{% endjs %}
{% endblock %}

{% block content %}
<div>
    <div class="widget widget-full wgreen">
        <!-- Widget title -->
        <div class="widget-head">
            <div class="pull-left">Trending collection items</div>
            <div class="pull-right">
                <a href='#' class="trending_collection_settings"> Settings </a>|
                <a href='#' class="trending_collection_remove"> Remove </a>|
                <a href="#" class="trending_collection_show_now">Show Now</a>|
                <a href="#" class="trending_collection_re_show">Re-Show</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row queue-page">
        <div class="col-md-full">
            <div class="widget wseagreen">
                <div class="widget-head">
                    <div class="pull-left">Items to be shown</div>
                    <div class="widget-icons pull-right">
                        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                        <a href="#" class="wclose"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content referrer" id="trending_wait">
                    <!-- Widget content -->
                    <table class="table table-bordered" id="tblqueue">
                        <thead>
                            <tr>
                                <th width=5><input type="checkbox" id="_select_all_queue" title=" Check all "></th>
                                <th width=10>Index</th>
                                <th width="600">Items to be shown</th>
                                <th style="min-width:80px" class="center">&nbsp;</th>
                            </tr>
                        </thead>
                        {% for item in notset %}
                        <tr id='{{item['id']}}'>
                            <td><input type="checkbox" name="chkToShow[]" value='{"mediaId":"{{item['media_id']}}","mediaType":"{{item['type']}}"}' class="chk_cls_queue"></td>
                             <td>{{loop.index}}</td>
                             <td>{{macros.prepareMediaView(item)}}</td>
                             <td class="center" mediaId="{{item['media_id']}}" mediaType="{{item['type']}}" weight="{{item['weight']}}" itemId="{{item['id']}}">
                                 <!--a class="delete-media" style="cursor:pointer" title=" Delete "><i class="tc-icon tc-icon-trash"></i></a-->
                                 </td>
                             </tr>
                             {% endfor %}
                         </table>
                         <div class="widget-foot no-border">
                             <div id="loadmorewait" style="display:none;">
                             <center>
                                 <img src="{{STATIC_BASE}}/pw/images/loading.gif" />
                                 <em>Loading ...</em>
                             </center>
                         </div>
                         <div class="clearfix"></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row half-page">
            <div class="col-md-100">
                <div class="widget wseagreen">
                    <div class="widget-head">
                        <div class="pull-left">Items already shown</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                            <a href="#" class="wclose"><i class="icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content referrer" id="trending_shown">
                        <!-- Widget content -->
                        <table class="table table-bordered" id="tblactive">
                            <thead>
                                <tr>
                                    <th width=5><input type="checkbox" id="_select_all_shown" title=" Check all "></th>
                                    <th width=20>Index</th>
                                    <th width="500">Items already shown</th>
                                    <th width="200">Date shown</th>
                                    <th style="min-width:85px;" class="center">Action</th>
                                </tr>                                
                            </thead>
                            {% for item in set %}
                            <tr id='{{item['id']}}' style="background: rgb(176, 187, 53);">
                                <td><input type="checkbox" name="chkShown[]" value='{"mediaId":"{{item['media_id']}}","mediaType":"{{item['type']}}", "in_queue":true}' class="chk_cls_shown"></td>
                                <td>{{loop.index}}</td>
                                <td>{{macros.prepareMediaView(item)}}</td>
                                <td>{{item['last_updated']}}</td>
                                <td class="center" mediaId="{{item['media_id']}}" mediaType="{{item['type']}}" weight="{{item['weight']}}" itemId="{{item['id']}}">
                                    <a class="move-first" style="cursor:pointer" title="Move to first"><i class="tc-icon tc-icon-upload"></i></a>
                                        <a class="move-up" style="cursor:pointer" title=" Move up "><i class="tc-icon tc-icon-arrow-up"></i></a>
                                        <a class="move-down" style="cursor:pointer" title=" Move down "><i class="tc-icon tc-icon-arrow-down"></i></a>
                                        <a class="move-last" style="cursor:pointer" title=" Move to last "><i class="tc-icon tc-icon-download"></i></a>
                                        <a class="move-to" style="cursor:pointer" title=" Move to index "><i class="tc-icon tc-icon-move"></i></a>
                                        <div class="item-line">
                                            <form class="form-inline frm-order">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Order" style="width:60px">
                                                </div>
                                                <button type="submit" class="btn btn-info btn-move">Move</button>
                                                <button class="btn btn-default btn-cancel">Cancel</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <div class="widget-foot no-border">
                                <div id="loadmoreshown" style="display:none;">
                                <center>
                                    <img src="{{STATIC_BASE}}/pw/images/loading.gif" />
                                    <em>Loading ...</em>
                                </center>
                            </div>
                            <div class="clearfix"></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row deleted-items">
            <div class="col-md-100">
                <div class="widget wslategrey">
                    <div class="widget-head">
                        <div class="pull-left">Deleted Items</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize showDeleted"><i class="icon-chevron-up"></i></a> 
                            <a href="#" class="wclose"><i class="icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content referrer" id="trending_deleted">
                        <!-- Widget content -->
                        <table class="table table-bordered" id="tblDeleted">
                            <thead>
                                <tr>
                                    <th width=5><input type="checkbox" id="_select_all_deleted" title=" Check all "></th>
                                    <th width=20>Index</th>
                                    <th width="500">Item</th>
                                    <th width="200">Date deleted</th>
                                    <th style="width:85px;" class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="widget-foot no-border">
                            <div id="loadmoreDeleted" style="display:none;">
                                <center>
                                    <img src="{{STATIC_BASE}}/pw/images/loading.gif" />
                                    <em>Loading ...</em>
                                </center>
                            </div>
                            <div class="clearfix"></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Begin Edit popup -->
    <div id="settings_pop_up">
        <a class="b-close">x</a>
        <h6>Modify release time and numbers of release contents </h6>
        <form class="form-inline" style="margin-left:0px">
                <div class="form-group">
                    <div class="settings-info">
                        <div class="show-inline">
                            <div class="pull-left string">Release Time : </div> 
                            <input id="t_expire" type="number" name="t_expire" class="form-control staff-pick" value='{{expiretime}}' placeholder="Expire time">
                            <select name="time_expire" class="form-control staff-pick" id="expire_time">
                                <option value="1">Minutes</option>
                            </select>
                        </div>
                        <div class="show-inline">
                            <div class="number-pieces">
                                <div class="pull-left string">Release numbers : </div> 
                                <input id="t_number_medias" type="number" value='{{mediasize}}' name="t_number_medias" class="form-control input-number" placeholder="Input number">
                            </div>
                        </div>
                        <div class="show-inline">
                            <div class="pull-left string">Remove after : </div> 
                            <input id="rel_date" type="number" name="rel_date" class="form-control staff-pick" value='{{relsdate}}' placeholder="Release date">
                            <select name="release_days" class="form-control staff-pick" id="release_days">
                                <option value="1">Days</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="button-update">
                    <button type='submit' id="update_settings" class='btn btn-info' >Update</button>
                </div>

            </form>
        </div>
        <!-- End Edit popup -->

        {% endblock %}